//! mb = mobile
//! tl = tablet
//! dt = desktop

/* Font Size */
$mb-txt: 1.4rem;
$mb-subheadings: 1.8rem;
$mb-headings: 2.2rem;

$dt-txt: 1.6rem;
$dt-subheadings: 2.4rem;
$dt-headings: 3rem;

/* Response*/
$tl-width: 419px;
$dt-width: 809px;

/* Grid*/
$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
